<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор психолога</title>
</head>
<body>
    <h1>Выберите психолога</h1>
    <ul>
        {% for therapist in therapists %}
        <li>
            <a href="{{ url_for('auth.book', therapist_id=therapist.id) }}">
                {{ therapist.first_name }} {{ therapist.last_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>


